<h2>Signup</h2>

<form id="signup-form">
    <div class="field">
        <label for="name">Name:</label>
        <input class="input" type="text" id="name"/>
    </div>
    <div class="field"> 
        <label for="email">email:</label>
        <input class="input" type="email" id="email" />
    </div>
    <div class="field">
        <label for="password">password:</label>
        <input class="input" type="password" id="password" />
    </div>
    <div>
        <button type="submit">Signup</button>    
    </div>
</form>

<script src="./js/signup.js"></script>