<div class="card">
    <header class="card-header">
        <h2 class="card-header-title is-centered">
            {{post.title}}
        </h2>
    </header>
    <div class="card-content">
        <p class="content">{{post.body}}</p>
    </div>
</div>

{{#each comment}}
    {{> comments}}
{{/each}}

{{#if logged_in}}
<form id="comment-form">
    <div>
        <label for="comment">Write comment...</label>
        <input class="textarea" type="text" id="comment-body" />
    </div>
        <div>
        <button type="submit">Post</button>
    </div> 
</form>
{{/if}}


{{#if logged_in}}
<script src="/js/comments.js"></script>
{{/if}}