<div class="card">
    <header class="card-header">
        <h2 class="card-header-title is-centered">
            {{title}}
        </h2>
    </header>
    <div class="card-content">
        <p class="content">{{body}}</p>
    </div>
</div>

{{#each comments as |comment|}}
{{> comments}}
{{/each}}

{{#if logged_in}}
<form id="comment-form">
    <div>
        <label for="comment-body">Write comment...</label>
        <input class="input" type="text" id="comment-body" />
    </div>
  <div class="control">
    <button type="submit" class="button is-link">Submit</button>
  </div>
</form>
{{/if}}


{{#if logged_in}}
<script src="/js/comments.js"></script>
{{/if}}